<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>用户信息列表</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>

    <!--分页css-->
    <link href="/bootstrap/css/bootstrap-combined.min.css" rel="stylesheet"/>

    <!--jquery-->
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>


    <!--分页-->
    <script src="/bootstrap/js/bootstrap-paginator.min.js"></script>

    <script type="text/javascript" src="/js/user/user_list.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>用户信息
                    <small> thymeleaf demo</small>
                </h1>
            </div>
            <form class="form-search">
                <input class="input-medium search-query" type="text"/>
                <button type="button" class="btn btn-primary" id="query">查找</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        用户Id
                    </th>
                    <th>
                        用户名称
                    </th>
                    <th>
                        更新时间
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userName}">
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Default
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="example"></div>
        </div>
    </div>
</div>
</body>
</html>